In [1]:
#My solution
def lesserOfTwoEvens(a,b):
    if a%2== 0 and b%2==0:
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
lesserOfTwoEvens(2,4)

2

In [3]:
lesserOfTwoEvens(2,5)

5

In [4]:
#Teacher solution
def lesserOfTwoEvens(a,b):
    if a%2== 0 and b%2==0:
        if a < b:
            result = a
        else:
            result =  b
    else:
        if a > b:
            result =  a
        else:
            result =  b
    return result

In [5]:
lesserOfTwoEvens(2,4)

2

In [7]:
lesserOfTwoEvens(7,5)

7

In [10]:
#Teacher solution
def lesserOfTwoEvens(a,b):
    if a%2== 0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [11]:
lesserOfTwoEvens(7,5)

7

In [12]:
#Animal Cracker : take two words string and return true if both begins with the same letter

In [19]:
def animalCracker(text):
    wordList = text.split()
    print(wordList)
    first = wordList[0]
    second = wordList[1]
    
    return first[0] == second[0]

In [21]:
animalCracker('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [22]:
animalCracker('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [25]:
def animalCracker(text):
    wordList = text.lower().split()
    print(wordList)
    return wordList[0][0] == wordList[1][0]

In [27]:
animalCracker('Levelheaded llama')

['levelheaded', 'llama']

True

In [28]:
# Makes Twenty

In [31]:
def makesTwenty(n1,n2):
    if (n1 +n2)== 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [34]:
makesTwenty(2,18)

True

In [3]:
def makesTwenty1(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [4]:
makesTwenty1(10,10)

True

In [5]:
makesTwenty1(2,3)

False

In [6]:
# Old MacDonald function to capitalizes first and fourth letters of a name

In [11]:
def oldMacdonald(name):
    firstLetter = name[0]
    inBetween = name[1:3]
    fourthLetter = name[3]
    rest = name[4:]
    return firstLetter.upper() + inBetween + fourthLetter.upper() + rest

In [12]:
oldMacdonald('macdonald')

'MacDonald'

In [13]:
def oldMacdonald1(name):
    firstPart = name[:3]
    secondPart = name[3:]
    return firstPart.capitalize() + secondPart.capitalize()

In [14]:
oldMacdonald1('macdonald')

'MacDonald'

In [15]:
# Master Yoda

In [21]:
def masterYoda(text):
    wordList = text.split()
    reverseWordList = wordList[::-1]
    return ' '.join(reverseWordList)

In [22]:
masterYoda('I am home')

'home am I'

In [23]:
myList = ['a','b','c']

In [24]:
' '.join(myList)

'a b c'

In [25]:
# Almost there: return true if n is within 10 of either 100 or 200

In [26]:
def almostThere(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [27]:
almostThere(104)

True

In [28]:
almostThere(150)

False

In [29]:
almostThere(209)

True

In [30]:
# Find 33

In [33]:
def has33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
       
    return False

In [34]:
has33([1,3,3])

True

In [35]:
has33([1,3,1,3])

False

In [36]:
def ishas33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
       
    return False

In [37]:
ishas33([1,3,3])

True

In [42]:
ishas33([1,2,3,4])

False

In [43]:
#Paper Doll return a string where for every charachter in the original there are three charachters

In [46]:
def paperDoll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [47]:
paperDoll('Hello')

'HHHeeellllllooo'

In [48]:
paperDoll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [49]:
#Blackjack

In [50]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c]) - 10
    else:
        return "BUST"

In [51]:
blackjack(5,6,7)

18

In [52]:
blackjack(9,9,9)

'BUST'

In [53]:
blackjack(9,9,11)

19

In [54]:
#Summer of 69

In [55]:
def summer69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total += num
                break #break while loop and return to for loop
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [56]:
summer69([1,3,5])

9

In [57]:
summer69([4,5,6,7,8,9])

9

In [58]:
summer69([2,1,6,9,11])

14

In [60]:
#Spy game: Write a function that takes in a list of intrgers and return True if it contains 007 in order

In [61]:
def spyGame(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) ==1

In [62]:
spyGame([1,2,4,0,0,7,5])

True

In [63]:
spyGame([1,0,2,4,0,5,7])

True

In [64]:
spyGame([1,7,2,0,4,5,0])

False

In [66]:
len(['x'])

1

In [67]:
#Count primes: write a function that returns the number of prime numbers that exist up to and including a given number

In [70]:
def countPrimes(num):
    #check for 0 and 1 input
    if num < 2:
        return 0
    
    # 2 ore greater
    #Store our prime numbers
    primes = [2]
    #Counter going up to the input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        #check if x is prime
        for y in range(3,x,2): # you can use for y in primes:
            if x%y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [77]:
countPrimes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [78]:
#Solution from the internet
number = int(input("Find primes up to what numer? : "))
primeList = []
for x in range(2,number +1):
    isPrime = True
    for y in range(2,int(x ** 0.5) + 1):
        if x % y == 0:
            isPrime = False
            break
            
    if isPrime:
        primeList.append(x)
        
print(primeList)

Find primes up to what numer? : 100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [79]:
#Print Big: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

In [88]:
def printBig(letter):
    patterns = {1:'  *  ', 2:' * * ', 3: '*   *', 4:'*****',5:'**** ', 6:'    *  ', 7:'  *     ',8:' *     * ', 9:'*     '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [93]:
printBig('a')

  *
 * *
*****
*   *
*   *