In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
2.0 == 2

True

In [7]:
3 != 3

False

In [8]:
4 != 5

True

In [9]:
2 > 1

True

In [10]:
1 < 2

True

In [11]:
2 <5

True

In [12]:
2 >= 2

True

In [13]:
4 <= 1

False

In [14]:
1 < 2

True

In [15]:
2 < 3

True

In [16]:
1 < 2 < 3

True

In [17]:
1 < 2 > 3

False

In [18]:
1 < 2 and 2 > 3

False

In [19]:
'h' == 'h' and 2==2

True

In [20]:
1 == 1 or 2 == 2

True

In [21]:
1 == 1 or 2 == 3

True

In [22]:
1 == 1

True

In [23]:
not 1 == 1

False

In [24]:
not 400 > 5000

True

In [25]:
if True:
    print('its true')

its true

In [27]:
hungry = False
if (hungry):
    print('Feed me!')
else:
    print('Im not hungry')

Im not hungry

In [28]:
loc  = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
else:
    print('I do not know much.')

Money is cool!

In [29]:
name = 'Sammy'
if name == 'Franki':
    print('Hello Frankie')
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Sammy!

In [30]:
my_iterable = [1,2,3]

In [31]:
for item_name in my_iterable:
    print(item_name)

1
2
3

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [35]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number : {num}')

Odd Number : 1
2
Odd Number : 3
4
Odd Number : 5
6
Odd Number : 7
8
Odd Number : 9
10

In [37]:
listSum = 0
for num in mylist:
    listSum = listSum + num
print(listSum)

55

In [38]:
myString = 'Hello World'
for letter in myString:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [39]:
for _ in 'Hello':
    print("cool!")

cool!
cool!
cool!
cool!
cool!

In [40]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [41]:
myList = [(1,2),(3,4),(5,6),(7,8)]

In [42]:
len(myList)

4

In [43]:
for item in myList:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [44]:
for (a,b) in myList:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [45]:
for a,b in myList:
    print(a)

1
3
5
7

In [46]:
myList = [(1,2,3),(5,6,7),(8,9,10)]

In [47]:
for a,b,c in myList:
    print(b)

2
6
9

In [51]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [52]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [53]:
for key,value in d.items():
    print(value)

1
2
3

In [54]:
for value in d.values():
    print(value)

1
2
3

In [2]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [3]:
x = [1,2,3]
for item in x:
    pass # do nothing at all
print('End of my script')

End of my script

In [6]:
myString = "Sammy"

In [7]:
for letter in myString:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [11]:
for letter in myString:
    if letter == 'a':
        break
    print(letter)

S

In [13]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1