In [1]:
myList  = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for i in myList:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
i = 1
for item in myList:
    print("{} --- {}".format(i, item))
    i +=1

1 --- 1
2 --- 2
3 --- 3
4 --- 4
5 --- 5
6 --- 6
7 --- 7
8 --- 8
9 --- 9
10 --- 10

In [15]:
n = 1
for item in myList:
    print(f'{n} -- ${item:1.2f}')
    n +=1

1 -- $1.00
2 -- $2.00
3 -- $3.00
4 -- $4.00
5 -- $5.00
6 -- $6.00
7 -- $7.00
8 -- $8.00
9 -- $9.00
10 -- $10.00

In [18]:
for i in myList:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd Number: {i}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [19]:
listSum = 0

for num in myList:
    listSum = listSum + num
print(listSum)

55

In [20]:
myString = 'Hello World'
for letter in myString:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [21]:
tup =(1,2,3)
for i in tup:
    print(i)

1
2
3

In [22]:
myList = [(1,2),(3,4),(5,6),(7,8)]

In [23]:
len(myList)

4

In [24]:
for i in myList:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [25]:
for (a,b) in myList:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [26]:
for a,b in myList:
    print(a)

1
3
5
7

In [27]:
myList = [(1,2,3),(5,6,7),(8,9,10)]

In [28]:
for a,b,c in myList:
    print(b)

2
6
9

In [29]:
d = {'k1':1,'k2':2,'k3':3}

In [30]:
for i in d:
    print(i)

k1
k2
k3

In [31]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
for key,value in d.items():
    print(value)

1
2
3

In [37]:
x = 0

In [38]:
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [40]:
x = [1,2,3]

for i in x:
    pass
print('End of my script')

End of my script

In [41]:
myString = 'Sammy'

In [43]:
for l in myString:
    if l == 'a':
        continue
    print(l)

S
m
m
y

In [44]:
for l in myString:
    if l == 'a':
        break
    print(l)

S

In [49]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [50]:
x = 2
while x < 9:
    if x == 7:
        break
    print(x)
    x +=1

2
3
4
5
6

In [51]:
myList = [1,2,3]

In [52]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [53]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [54]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [55]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [56]:
myList = list(range(0,11,2))

In [57]:
myList

[0, 2, 4, 6, 8, 10]

In [58]:
indexCount = 0
for l in 'abcde':
    print('At index {} the letter is {}'.format(indexCount,l))
    indexCount +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [60]:
Counter = 0
word = 'abcde'
for letter in word:
    print(word[Counter])
    Counter +=1

a
b
c
d
e

In [61]:
for l in enumerate(word):
    print(l)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [63]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [66]:
myList1 = [1,2,3,4,5]
myList2 = ['a','b','c']
myList3 = [100,200,300]

In [67]:
for item in zip(myList1,myList2,myList3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [68]:
myNewList = list(zip(myList1,myList2))

In [69]:
myNewList

[(1, 'a'), (2, 'b'), (3, 'c')]

In [70]:
'x' in [1,2,3]

False

In [71]:
'x' in ['x','y','z']

True

In [72]:
'a' in 'a world'

True

In [73]:
'mykey'in {'mykey':345}

True

In [74]:
d = {'mykey':345}

In [75]:
345 in d.values()

True

In [76]:
345 in d.keys()

False

In [77]:
myList = [10,20,30,40,100]

In [78]:
min(myList)

10

In [79]:
max(myList)

100

In [80]:
from random import shuffle

In [81]:
myList =[1,2,3,4,5,6,7,8,9,10]

In [82]:
shuffle(myList)

In [83]:
myList

[4, 1, 6, 9, 8, 7, 5, 3, 2, 10]

In [84]:
myList

[4, 1, 6, 9, 8, 7, 5, 3, 2, 10]

In [85]:
from random import randint

In [86]:
randint(0,100)

66

In [87]:
myNum = randint(0,10)

In [88]:
myNum

6

In [91]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [92]:
result = input('What is your name: ')

What is your name: Iyad

In [93]:
result

'Iyad'

In [94]:
result = input('Enter a number: ')

Enter a number: 3

In [95]:
result

'3'

In [96]:
int(result)

3

In [97]:
result = float(input('number: '))

number: 3

In [98]:
result

3.0

In [99]:
myString = 'hello'

In [100]:
myList = []
for l in myString:
    myList.append(l)

In [101]:
myList

['h', 'e', 'l', 'l', 'o']

In [102]:
myList1 = [l for l in myString]

In [103]:
myList1

['h', 'e', 'l', 'l', 'o']

In [104]:
myList2 = [x for x in 'word']

In [105]:
myList2

['w', 'o', 'r', 'd']

In [106]:
myList3 = [x for x in range(0,11,2)]

In [107]:
myList3

[0, 2, 4, 6, 8, 10]

In [108]:
myList4 = [num**2 for num in range(0,11)]

In [109]:
myList4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
myList5 = [x for x in range(0,11) if x % 2 == 0]

In [111]:
myList5

[0, 2, 4, 6, 8, 10]

In [122]:
celcius = [-6,0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [123]:
fahrenheit

[21.2, 32.0, 50.0, 68.0, 94.1]

In [124]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp +32))

In [125]:
fahrenheit

[21.2, 32.0, 50.0, 68.0, 94.1]

In [126]:
results = [x if x%2 == 0 else 'Odd' for x in range(0,11)]

In [127]:
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [130]:
myList = []
for x in [2,4,6]:
    for y in [1,10,100]:
        myList.append(x*y)

In [131]:
myList

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [132]:
myList = [x*y for x in [2,4,6] for y in [1,10,100]]

In [133]:
myList

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [134]:
st = 'Print only the words that start with s in this sentennce'

In [137]:
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentennce

In [138]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [142]:
listNum = [x for x in range(1,50) if x%3 == 0]

In [143]:
listNum

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [144]:
String = 'Print every word in this sentence that has an even number of letters'

In [148]:
for word in String.split():
    if len(word)%2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [151]:
for number in range(1,100):
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 3 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [152]:
String1 = 'Create a list of the first letters of every word in this string'

In [153]:
listString = [x[0] for x in String1.split()]

In [154]:
listString

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']