In [1]:
'hello'

'hello'

In [2]:
"I'm going to a run"

"I'm going to a run"

In [3]:
print("Hello")

Hello

In [4]:
print("1")
print("2")

1
2

In [6]:
print('hello \nworld')

hello
world

In [7]:
print('hello \tworld')

hello 	world

In [8]:
len('hello')

5

In [9]:
len('I am')

4

In [10]:
mystring = "Hello World"

In [11]:
mystring

'Hello World'

In [12]:
mystring[0]

'H'

In [13]:
mystring[8]

'r'

In [14]:
mystring[9]

'l'

In [15]:
mystring

'Hello World'

In [16]:
mystring[-2]

'l'

In [17]:
mystring[-1]

'd'

In [19]:
mystring = 'abcdefghijk'

In [20]:
mystring

'abcdefghijk'

In [21]:
mystring[2:]

'cdefghijk'

In [22]:
mystring[3:
        ]

'defghijk'

In [23]:
mystring[:3
        ]

'abc'

In [24]:
mystring[:-1]

'abcdefghij'

In [25]:
mystring[:0]

''

In [26]:
mystring[3:6]

'def'

In [27]:
mystring[1:3]

'bc'

In [28]:
mystring[3:-1]

'defghij'

In [29]:
mystring[::2]

'acegik'

In [30]:
mystring[::3]

'adgj'

In [31]:
mystring[-1:0]

''

In [32]:
mystring[::-1]

'kjihgfedcba'

In [35]:
myString = "Marhaba"

In [36]:
myString[::-1
        ]

'abahraM'

In [37]:
name = "Sam"

In [40]:
#name[0] = 'P'

In [44]:
last_letters = name[1:]

In [45]:
last_letters

'am'

In [46]:
'P' + last_letters

'Pam'

In [47]:
x = 'Hello World'

In [49]:
b = x + " it is beautiful outside"

In [50]:
b

'Hello World it is beautiful outside'

In [51]:
letter = 'z'

In [52]:
letter * 10

'zzzzzzzzzz'

In [53]:
2+ 3

5

In [55]:
l = '2' + ' 3'

In [56]:
l

'2 3'

In [57]:
l * 10

'2 32 32 32 32 32 32 32 32 32 3'

In [58]:
x = 'Hello World'

In [60]:
x.upper()

'HELLO WORLD'

In [61]:
x.casefold()

'hello world'

In [62]:
x.split()

['Hello', 'World']

In [63]:
x.split(2)

TypeError: must be str or None, not int

In [64]:
x.split('Hello')

['', ' World']

In [65]:
x.split("h")

['Hello World']

In [66]:
x.split("H")

['', 'ello World']

In [67]:
x.split("o")

['Hell', ' W', 'rld']

In [68]:
print('hello')

hello

In [69]:
myName = 'Iyad'

In [70]:
print("Hello, " + myName)

Hello, Iyad

In [71]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [73]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [74]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [75]:
result = 100/777

In [76]:
result

0.1287001287001287

In [83]:
print("The result was '{r:1.3f}'".format(r=result))

The result was '0.129'

In [84]:
name = "Iyad"

In [86]:
print(f'Hello, his name is {name.upper()}')

Hello, his name is IYAD

In [87]:
name = "Iyad"
age = 37

In [88]:
print(f'{name} is {age} years old.')

Iyad is 37 years old.

In [89]:
print(f'{result:1.3f} result')

0.129 result

In [90]:
name[-1]

'd'

In [92]:
d = name[::-1]

In [93]:
d

'dayI'

In [94]:
d.split()

['dayI']

In [95]:
d.split('a')

['d', 'yI']

In [96]:
d[:3]

'day'

In [97]:
d[:3] + " " + d[-1]

'day I'

In [98]:
print(f'{d[:3].upper()} "{d[-1]}"')

DAY "I"

In [99]:
'I like %s'%'apples'

'I like apples'

In [106]:
'I like %f' % 100000000.99

'I like 100000000.990000'

In [107]:
'I like %d' % 1000000000

'I like 1000000000'

In [108]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [114]:
x,y = 'some', 'more'

In [115]:

print("I'm going to inject %s text here, and %s text here."% (x,y))

I'm going to inject some text here, and more text here.

In [116]:
print('His name is %s' %'Fred')
print('His name is %r' %'Fred')

His name is Fred
His name is 'Fred'

In [124]:
print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14

In [120]:
print('Floating point number: %10.1f' %(13.144))

Floating point number:       13.1

In [125]:
print('First: %s, Second: %5.2f, Third: %r' %('Hi!', 3.1445, 'bye!'))

First: Hi!, Second:  3.14, Third: 'bye!'

In [139]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:5}'.format('Apples',3.))

Fruit    | Quantity
Apples   |   3.0

In [147]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left', 'Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left     |  Center  |    Right
11====== | ---22--- | ......33

In [150]:
print(f'His name is {name!r}')

His name is 'Iyad'

In [151]:
print(f'His name is {name}')

His name is Iyad

In [152]:
num = 23.45

In [153]:
print("My 10 character, four decimal number is: {0:10.4f}".format(num))

My 10 character, four decimal number is:    23.4500

In [154]:
print(f"My 10 char, four decimal number is: {num:10.4f}")

My 10 char, four decimal number is:    23.4500

In [156]:
print(f"My 10 char, four decimal number is: {num:{10}.{6}}")

My 10 char, four decimal number is:      23.45

In [157]:
myList = [1,2,3]

In [158]:
myList = ['String',100,23.2]

In [159]:
len(myList)

3

In [160]:
myList= ['one','two','three']

In [161]:
myList[0]

'one'

In [162]:
myList[1:]

['two', 'three']

In [163]:
anotherList = ['four','five']

In [164]:
myList + anotherList

['one', 'two', 'three', 'four', 'five']

In [165]:
newList = myList + anotherList

In [166]:
newList

['one', 'two', 'three', 'four', 'five']

In [167]:
newList[0] = 'ONE ALL CAPS'

In [168]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [169]:
newList.append('six')

In [170]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [171]:
newList.append('Seven')

In [172]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'Seven']

In [173]:
newList.pop()

'Seven'

In [174]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [176]:
poppedItem = newList.pop()

In [177]:
poppedItem

'six'

In [178]:
newList1 = []

In [179]:
newList1

[]

In [180]:
newList1.append(poppedItem)

In [181]:
newList1

['six']

In [182]:
List = ['AAA','BBB',333,5.55]

In [183]:
poppedItem = List.pop()

In [184]:
poppedItem

5.55

In [185]:
List

['AAA', 'BBB', 333]

In [187]:
List1 = []
List1.append(poppedItem)

In [188]:
List1

[5.55]

In [189]:
poppedItem

5.55

In [190]:
ListLetters = ['a','e','x','b','c']
ListNumber = [4,1,8,3]

In [191]:
ListLetters.sort()

In [192]:
ListLetters

['a', 'b', 'c', 'e', 'x']

In [193]:
ListNumber.sort()

In [194]:
ListNumber

[1, 3, 4, 8]

In [195]:
ListNumber.reverse()

In [196]:
ListNumber

[8, 4, 3, 1]

In [197]:
ListNumber * 2

[8, 4, 3, 1, 8, 4, 3, 1]

In [198]:
ListNumber

[8, 4, 3, 1]

In [199]:
matrix = [ListNumber, ListLetters]

In [200]:
matrix

[[8, 4, 3, 1], ['a', 'b', 'c', 'e', 'x']]

In [201]:
firstCol = [row[0] for row in matrix]

In [202]:
firstCol

[8, 'a']

In [203]:
dic = {'key1':'value1', 'key2':'value2'}

In [204]:
dic

{'key1': 'value1', 'key2': 'value2'}

In [205]:
dic['key1']

'value1'

In [206]:
pricesLookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [207]:
pricesLookup['apple']

2.99

In [208]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insidekey':100}}

In [209]:
d['k2']

[0, 1, 2]

In [210]:
d['k3']

{'insidekey': 100}

In [211]:
d['k3']['insidekey']

100

In [212]:
d1 = {'key1':['a','b','c']}

In [213]:
d1

{'key1': ['a', 'b', 'c']}

In [217]:
myList2 = []
myList2 = d1['key1']

In [218]:
myList2

['a', 'b', 'c']

In [219]:
letter = myList2[2]

In [220]:
letter

'c'

In [221]:
letter.upper()

'C'

In [222]:
d1

{'key1': ['a', 'b', 'c']}

In [223]:
d1['key1'][2].upper()

'C'

In [224]:
d1

{'key1': ['a', 'b', 'c']}

In [225]:
d2 = {'k1':100,'k2':200}

In [226]:
d2['k3']= 300

In [227]:
d2

{'k1': 100, 'k2': 200, 'k3': 300}

In [229]:
d2['k1'] = 'New Value'

In [230]:
d2

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [232]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [233]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insidekey': 100})])

In [234]:
d.values()

dict_values([123, [0, 1, 2], {'insidekey': 100}])

In [235]:
t = (1,2,3)

In [236]:
myList = [1,2,3]

In [237]:
type(t)

tuple

In [238]:
type(myList)

list

In [239]:
len(t)

3

In [240]:
t = ('one',2)

In [241]:
t[0]

'one'

In [242]:
t[-1]

2

In [243]:
t = ('a','a','b')

In [246]:
t.count('a')

2

In [247]:
t.index('a')

0

In [248]:
t.index('b')

2

In [249]:
t

('a', 'a', 'b')

In [250]:
myList

[1, 2, 3]

In [251]:
myList[0] = 'NEW'

In [252]:
myList

['NEW', 2, 3]

In [253]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [254]:
mySet = set()

In [255]:
mySet

set()

In [256]:
mySet.add(1)

In [257]:
mySet

{1}

In [259]:
mySet.add(2)

In [261]:
mySet

{1, 2}

In [262]:
mySet.add(2)

In [263]:
mySet

{1, 2}

In [264]:
mySet.add('one')

In [265]:
mySet

{1, 2, 'one'}

In [266]:
myList = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [267]:
set(myList)

{1, 2, 3}

In [268]:
1 == 1

True

In [269]:
True

True

In [270]:
False

False

In [271]:
1 > 2

False

In [272]:
b = None

In [273]:
b

In [274]:
type(b)

NoneType

In [279]:
if b == False:
    print('hi')
else:
    print('No')

No

In [290]:
%%writefile myfile.txt
Hello this is a text file
this is the second line

Overwriting myfile.txt

In [293]:
myfile = open('myfile.txt')

In [294]:
myfile

In [295]:
print(myfile)

<_io.TextIOWrapper name='myfile.txt' mode='r' encoding='cp1252'>

In [296]:
pwd

'C:\\Users\\iyads\\Desktop\\PythonUdemyCousre'

In [297]:
myfile = open('myfile.txt')

In [298]:
myfile.read()

'Hello this is a text file\nthis is the second line\n'

In [299]:
myfile.read()

''

In [300]:
myfile.seek(0)

0

In [301]:
myfile.read()

'Hello this is a text file\nthis is the second line\n'

In [302]:
contents = myfile.read()

In [303]:
contents

''

In [304]:
myfile.seek(0)

0

In [305]:
myfile.readline()

'Hello this is a text file\n'

In [306]:
%%writefile myFile.txt
Hello line 1
Line 2
Line 3

Overwriting myFile.txt

In [309]:
file = open('myFile.txt')

In [310]:
contents = file.read()

In [311]:
contents

'Hello line 1\nLine 2\nLine 3\n'

In [312]:
file.seek(0)

0

In [313]:
file.readline()

'Hello line 1\n'

In [314]:
pwd

'C:\\Users\\iyads\\Desktop\\PythonUdemyCousre'

In [315]:
myfile.close()

In [316]:
file.close()

In [317]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [318]:
contents

'Hello line 1\nLine 2\nLine 3\n'

In [319]:
my_new_file.close()

In [322]:
with open('myfile.txt', mode='r') as myFile:
    contents = myFile.read()

In [323]:
contents

'Hello line 1\nLine 2\nLine 3\n'

In [324]:
%%writefile newFile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing newFile.txt

In [325]:
with open('newFile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [326]:
with open('newFile.txt',mode='a') as f:
    f.write('Four on Forth')

In [327]:
with open('newFile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
Four on Forth

In [328]:
with open('dfsdfsd.txt', mode='w') as ff:
    ff.write('I created this file!')

In [329]:
with open('dfsdfsd.txt', mode='r') as f:
    print(f.read())

I created this file!

In [330]:
s = 'hello'

In [331]:
s[1]

'e'

In [332]:
s[::-1]

'olleh'

In [333]:
s[-1]

'o'

In [334]:
s[4]

'o'

In [335]:
[0]*3

[0, 0, 0]

In [336]:
list2 = [0]*3

In [337]:
list2

[0, 0, 0]

In [339]:
list3 = [1,2,[3,4,'hello']]

In [340]:
list3

[1, 2, [3, 4, 'hello']]

In [341]:
list3[2][2]

'hello'

In [342]:
list4 = [5,3,4,6,1]

In [343]:
sorted(list4)

[1, 3, 4, 5, 6]

In [344]:
list4

[5, 3, 4, 6, 1]

In [345]:
list4.sort()

In [346]:
list4

[1, 3, 4, 5, 6]

In [347]:
d = {'k1':{'k2':'hello'}}

In [348]:
d['k1']

{'k2': 'hello'}

In [349]:
d['k1']['k2']

'hello'

In [350]:
d = {'k1':[{'nestKey':['this is deep',['hello']]}]}

In [353]:
d['k1'][0]['nestKey'][1][0]

'hello'

In [354]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [355]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [358]:
hungry = False
if hungry:
    print('Feed Me!')
else:
    print('Im not hungry')

Im not hungry

In [360]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I dont know much")

Money is cool!

In [361]:
name = 'Sammy'

if name == 'Franki':
    print('Hello Franki!')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print("What is your name")

Hello Sammy

In [362]:
myList  = [1,2,3,4,5,6,7,8,9,10]

In [371]:

for num in myList:
    print('{} Hello'.format(num))

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [373]:
for num in myList:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [374]:
listSum = 0 
for num in myList:
    listSum = listSum + num

print(listSum)

55

In [375]:
s = 'Hello World'
for letter in s:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [376]:
t = (1,2,3)
for item in t:
    print(item)

1
2
3

In [377]:
myList = [(1,2),(3,4),(5,6),(7,8)]

In [378]:
len(myList)

4

In [379]:
for item in myList:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [384]:
for (a,b) in myList:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [385]:
list5 = [(1,2,3),(5,6,7),(8,9,10)]

In [386]:
for a,b,c in list5:
    print(c)

3
7
10

In [387]:
d = {'k1':1,'k2':2,'k3':3}

In [388]:
for item in d:
    print(item)

k1
k2
k3

In [389]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [390]:
for key,value in d.items():
    print(value)

1
2
3

In [391]:
for v in d.values():
    print(v)

1
2
3