In [1]:
myList = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [5]:
range(0,11,2)

range(0, 11, 2)

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
indexCount = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(indexCount,letter))
    indexCount +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
indexCount = 0
word = 'abcde'
for letter in word:
    print(word[indexCount])
    indexCount +=1

a
b
c
d
e

In [11]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [14]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [22]:
myList1 = [1,2,3,4,5,6]
myList2 = ['a','b','c']
myList3= [100,200,300]

In [23]:
for item in zip(myList1,myList2, myList3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
list(zip(myList1,myList2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [25]:
for a,b,c in zip(myList1,myList2,myList3):
    print(b)

a
b
c

In [26]:
'x' in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
'a' in 'a world'

True

In [30]:
'mykey' in {'mykey':345}

True

In [35]:
dic = {'myKey':345}
345 in dic.values()

True

In [36]:
myList = [10,20,30,40,100]

In [37]:
min(myList)

10

In [38]:
max(myList)

100

In [39]:
from random import shuffle

In [40]:
myList = [1,2,3,4,5,6,7,8,9,10]

In [41]:
shuffle(myList)

In [42]:
myList

[2, 10, 4, 5, 8, 9, 6, 3, 7, 1]

In [43]:
myList

[2, 10, 4, 5, 8, 9, 6, 3, 7, 1]

In [44]:
from random import randint

In [45]:
randint(0,100)

54

In [46]:
randint(0,100)

13

In [47]:
myNum = randint(0,100)

In [48]:
myNum

76

In [49]:
myNum

76

In [50]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [51]:
result = input('What is your name: ')

What is your name: Iyad